<div class="root">
    <RadzenLayout class="rz-shadow-3 fill">
        <RadzenHeader class="flx jc-sb">
            <RadzenSidebarToggle class="sq-4t" Click="@(() => _leftExpanded = !_leftExpanded)" />
            <RadzenProfileMenu class="m-t-0t">
                <Template>
                    <RadzenIcon Icon="account_circle" IconStyle="@(_session.IsAuthed? IconStyle.Success: IconStyle.Danger)"></RadzenIcon>
                </Template>
                <ChildContent>
                    @if (_session.IsAuthed)
                    {
                        <RadzenProfileMenuItem Text="@L.S(S.SignOut)" Path="sign_out" Icon="account_circle"></RadzenProfileMenuItem>
                    }
                    else
                    {
                        <RadzenProfileMenuItem Text="@L.S(S.SignIn)" Path="sign_in" Icon="account_circle"></RadzenProfileMenuItem>
                    }
                    <RadzenProfileMenuItem Text="@L.S(S.L10n)" Path="l10n" Icon="translate"></RadzenProfileMenuItem>
                </ChildContent>
            </RadzenProfileMenu>
        </RadzenHeader>
        <RadzenSidebar @bind-Expanded="@_leftExpanded">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="@L.S(S.Home)" Icon="home" Path="/"/>
                @if (_session.IsAuthed)
                {
                    <RadzenPanelMenuItem Text="@L.S(S.Counter)" Icon="star" Path="/counter"/>
                }
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody class="root rz-background-color-base-100">
            <CascadingValue Value="@_session">
                @Body
            </CascadingValue>
        </RadzenBody>
        <RadzenNotification/>
    </RadzenLayout>
</div>

@using Dnsk.I18n
@using Common.Client
@using Common.Shared.Auth
@inherits LayoutComponentBase
@inject IAuthService _auth;
@inject L L;
@code{

    private bool _leftExpanded;
    private ISession _session = Session.Default(S.DefaultLang, S.DefaultDateFmt, S.DefaultTimeFmt);

    protected override async Task OnInitializedAsync()
    {
        _auth.RegisterRefreshUi(AuthStateChanged);
        AuthStateChanged(await _auth.GetSession());
    }

    private void AuthStateChanged(ISession s)
    {
        _session = s;
        StateHasChanged();
    }

}