@using Ytc.I18n
@using Common.Client
@using Common.Shared.Auth
@using CS = Common.Shared.I18n.S;
<div class="root jc-c ai-c">
    <RadzenCard class="p-3 w-35 flx col ai-c">
        <RadzenImage Path="/logo.png" class="res-t"></RadzenImage>
        <RadzenText class="m-t-0" TextStyle="TextStyle.H2">@L.S(S.HomeHeader)</RadzenText>
        @L.H(S.HomeBody)
        <div class="flx m-t-0h ai-c g-1">
            @if (Session.IsAuthed)
            {
                <RadzenButton class="goto-my-counter" ButtonStyle="ButtonStyle.Primary" Text="@L.S(S.MyCounter)" Click="@(() => Nav.NavigateTo($"/{Session.Id}/counter"))"/>
            }
            else
            {
                <RadzenButton class="goto-sign-in" ButtonStyle="ButtonStyle.Secondary" Text="@L.S(CS.SignIn)" Click="@(() => Nav.NavigateTo("/cmn/auth/sign_in"))"/>
                <RadzenText TextStyle="TextStyle.Body1" class="m-0">@L.S(CS.Or)</RadzenText>
                <RadzenButton class="goto-register" ButtonStyle="ButtonStyle.Primary" Text="@L.S(CS.Register)" Click="@(() => Nav.NavigateTo("/cmn/auth/register"))"/>
            }
        </div>
    </RadzenCard>
</div>
@inject L L;
@inject NavigationManager Nav;
@code{

    [CascadingParameter]
    public ISession Session { get; set; } = Common.Shared.Auth.Session.CommonDefault();
}